html, body, #root {
  height: 100%;
  background: #0b1220;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET TOTAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FORÇA OCUPAR TELA TODA */
html, body, #root {
  width: 100%;
  height: 100%;
}

/* REMOVE QUALQUER SCROLL LATERAL */
body {
  overflow-x: hidden;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}